.about{
  display: flex;
  margin-top: 40px;
}
.about-content{
  display: flex;
  align-items: center;
  gap: 30px;
  color: white
}

.about-photo{
  min-width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}