

.project-column{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
}

.project-label{
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 25px;
  color: white;
  font-size: 11px;
}

.project-bottom{
  margin-bottom: 0px;
}